.about-img{
    background-image: url(https://i.ibb.co/dm8K6LY/Happy-Girl-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: right bottom;
    background-position: right;}

